<section id="sidebar" class="sidebar">
    <div class="content">
        {{#if @blog.logo}}
            <div class="logo">
                <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
            </div>
        {{/if}}
        {{@blog.description}}
        {{navigation}}
        {{> social}}
    </div>
    <div id="sidebar-button" class="menu-action">
        <div class="hamburger-icon">
            <div class="hb"></div>
            <div class="hb"></div>
            <div class="hb"></div>
        </div>
    </div>
</section>
