<section id="sidebar" class="sidebar">
    <div class="menu-action">
        <div class="hamburger-icon">
            <div class="hb"></div>
            <div class="hb"></div>
            <div class="hb"></div>
        </div>
    </div>
</section>
