<div id="sidebar-topper">
  <div class="inner inner1"></div>
  <div class="inner inner2"></div>
  <div class="inner inner3"></div>
  <div class="inner inner4"></div>
</div>
<section id="sidebar">
    <div class="title">
        <div class="inner">
            {{@blog.title}}
        </div>
    </div>
</section>
