<div class="masthead">
    <div class="sidebar-button">
        <div class="section"></div>
        <div class="section mid"></div>
        <div class="section"></div>
    </div>
    <div class="container">
        <h3 class="masthead-title">{{@blog.title}}</h3>
    </div>
</div>
