// main: ./style.less

@c_high: #EEEEEE;
@c_mid1: #393E46;
@c_mid2: #FF5722;
@c_low: #222831;
@c_offwhite: #FAFAFA;
@c_white: #FCFCFC;

@f_title: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
