// main: ./style.less

@c_high: #efefef;
@c_mid1: #3332ff;
@c_mid2: #e24a1c;
@c_low: #232127;
@c_offwhite: #fafafa;
@c_white: #FCFCFC;

@f_title: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
