// main: ./style.less

@c_high: #6FE7DD;
@c_mid1: #3490DE;
@c_mid2: #6639A6;
@c_low: #521262;
@c_offwhite: #FAFAFA;
@c_white: #FCFCFC;

@f_title: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
