//main: ./style.less

@import "_palette";

body {
    > .content {
        > .post {
            margin: 0 auto;
            > .metadata {
                text-transform: uppercase;
                font-size: 10px;
                line-height: 16px;
            }
            > .cover-image {
                border-radius: 6px;
                overflow: hidden;
            }
            > .post-header {
                > h1 {
                    text-transform: uppercase;
                }
            }
            > .post-content {
                > h2 {
                    font-weight: 400;
                }
                > h3 {
                    font-weight: 400;
                }
                > h4 {
                    font-weight: 400;
                }
                > p {
                    line-height: 24px;
                    font-weight: 300;
                    > img {
                        max-width: 100%;
                    }
                    > code {
                        max-width: 100%;
                        background: @c_high;
                        padding-left: 4px;
                        padding-right: 4px;
                        overflow-wrap: break-word;
                    }
                    > a {
                        text-decoration: none;
                        color: @c_mid2;
                    }
                }
                > ul {
                    > li {
                        line-height: 1.5rem;
                        font-weight: 300;
                    }
                }
                > blockquote {
                    background: @c_high;
                    font-weight: 300;
                    line-height: 1.5rem;
                    font-style: italic;
                    padding: 8px;
                    border-left: 4px solid darken(@c_high, 10%);
                }
            }
            > .separator {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                > .line {
                    border-bottom: 1px solid darken(@c_offwhite, 10%);
                }
            }
            > .previous-post {
                float: left;
                padding-top: 3rem;
                > a {
                    color: @c_mid2;
                    text-decoration: none;
                    font-weight: 300;
                }
            }
            > .next-post {
                float: right;
                padding-top: 3rem;
                > a {
                    color: @c_mid2;
                    text-decoration: none;
                    font-weight: 300;
                }
            }
        }
    }
}

@media screen and (min-width: 80rem) {
    body {
        > .content {
            > .post {
                margin-top: 5rem;
                margin-bottom: 5rem;
                width: 74%;
                > .cover-image {
                    height: 12.5rem;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 79.9375rem) {
    body {
        > .content {
            > .post {
                margin-top: 3rem;
                margin-bottom: 3rem;
                width: 90%;
                > .cover-image {
                    margin-top: 1rem;
                    height: 8rem;
                }
            }
        }
    }
}
