// main: ./style.less

@import "./_palette.less";

#sidebar {
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 15rem;
    background: @c_low;
    > .content {
        width: 100%;
        min-height: 50%;
        > .logo {
            width: 7rem;
            height: 7rem;
            border-radius: 3.5rem;
            overflow: hidden;
            margin: 4rem;
            > .blog-logo {
                > img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
    > .menu-action {
        position: absolute;
        top: 0;
    }
}

@media screen and (min-width: 1024px) {
    #sidebar {
        left: 0;
        > .menu-action {
            margin-top: 1rem;
            margin-left: 16rem;
            width: 36px;
            height: 36px;
            > .hamburger-icon {
                padding-top: 3px;
                padding-bottom: 3px;
                > .hb {
                    width: 100%;
                    height: 6px;
                    border-radius: 4px;
                    background: @c_mid2;
                    margin-bottom: 6px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #sidebar {
        left: -14.8rem;
        > .menu-action {
            margin-top: 0.6rem;
            margin-left: 16rem;
            width: 18px;
            height: 18px;
            > .hamburger-icon {
                padding-top: 1.5px;
                padding-bottom: 1.5px;
                > .hb {
                    width: 100%;
                    height: 3px;
                    border-radius: 2px;
                    background: @c_low;
                    margin-bottom: 3px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}
