// main: ./style.less

@import "./_palette.less";

@media screen and (min-width: 300px) {
    #sidebar-topper {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        >.inner {
            width: 25%;
            height: 100%;
            float: left;
            &.inner1 {
                background-color: @c_high;
            }
            &.inner2 {
                background-color: @c_mid1;
            }
            &.inner3 {
                background-color: @c_mid2;
            }
            &.inner4 {
                background-color: @c_low;
            }
        }
    }

    #sidebar {
        position: fixed;
        top: 0px;
        left: 0;
        height: 100%;
        width: 51px;
        font-family: @f_title;
        font-size: 14px;
        color: @c_low;
        border-right: 1px solid darken(@c_offwhite, 3%);
        >.title {
            position: absolute;
            text-transform: uppercase;
            //top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            display: flex;
            justify-content:center;
            align-items:center;
            line-height:14px;
            width: 400px;
            top: 208px;
            >.inner {
                text-align: right;
                width: 100%;
                height: 100%;
                margin-right: 10px;
                font-weight: 500;
            }
        }
    }
}
