// main: ./style.less

@media screen and (min-width: 300px) {
    #topbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid darken(@c_white, 10%);
    }
}
