@c_midnight: #2B2E4A;
@c_red: #E84545;
@c_maroon: #903749;
@c_purple: #53354A;

html {
    width: 100%;
    margin: 0 auto;
    body {
        margin-top: 8px;
        #btop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: @c_maroon;
        }
    }
}