// out: ../css/style.css, sourcemap: false, compress: true

@import "_palette";

:root {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: @f_title;
    line-height: 1;
}

@import "_sidebar";
@import "_topbar";
@import "_content";
